<%- include ('partials/header') %>

<h1>LANDING PAGE</h1>

<!-- <form class="" action="/api/todos" method="post">
  <button type="submit" name="button">CREATE</button>
</form> -->


<%- include ('partials/footer') %>
